<div id='ticket'>
  <h2><%= @ticket.title %></h2>
  <%= simple_format(@ticket.description) %>
  <span id='author'>Created by <%= @ticket.user.email %></span>
  <%= authorized?("edit tickets", @project) do %>
    <%= link_to "Edit Ticket", [:edit, @project, @ticket] %>
  <% end %>
  <% authorized?("delete tickets", @project) do %>
    <%= link_to "Delete Ticket", [@project, @ticket], method: :delete,
    data: { confirm: "Are you sure you want to delete this ticket?"} %>
  <% end %>
</div>
